body {
    background-color: #FDF4E3;
  }
  .ramka {
    border: 3px solid blue;
    padding: 10px;
    background-color: #FAE7B5;
  }
  .name_sel {
    font-size: 25px
  }
  .sel {
    font-size: 25px;
    background-color: #FAEEDD;
  }