<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
  <title>Бригада</title>
  <link href="{% static 'css/my_style.css' %}" rel="stylesheet">
</head>

<body>
    <p class="name_sel"> Город:
        <select id="sel1" class="sel">
        </select>
    </p>
    <p class="name_sel"> Бригада:
        <select id="sel2" class="sel">
        </select>
    </p>
    <p class="name_sel"> Подбригада:
        <select id="sel3" class="sel">
        </select>
    </p>
    <p>
    <h3 class="ramka">Наименование: <span id="name"></span></h3>
    <h3 class="ramka">Начальник: <span id="head"></span></h3>
    <h3 class="ramka">Число людей: <span id="amount_people"></span></h3>
    <h3 class="ramka">Квалификация: <span id="qualification"></span></h3>
    </p>
</body>
<script src="{% static 'js/jquery-3.6.1.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
</html>
