<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Бригада</title>
    <style>
    body {
      background-color: #FDF4E3;
    }
    .ramka {
      border: 3px solid blue;
      padding: 10px;
      background-color: #FAE7B5;
    }
    .name_sel {
      font-size: 25px
    }
    .sel {
      font-size: 25px;
      background-color: #FAEEDD;
    }
  </style>
    {% load static %}
    <script type="text/javascript" src={% static "js/jquery-3.6.1.js" %}></script>
    <script type="text/javascript" src={% static "js/index.js" %}></script>

</head>

<body>
    <p class="name_sel"> Город:
        <select id="sel1" class="sel">
        </select>
    </p>
    <p class="name_sel"> Бригада:
        <select id="sel2" class="sel">
        </select>
    </p>
    <p class="name_sel"> Подбригада:
        <select id="sel3" class="sel">
        </select>
    </p>
    <p>
    <h3 class="ramka">Наименование: <span id="name"></span></h3>
    <h3 class="ramka">Начальник: <span id="head"></span></h3>
    <h3 class="ramka">Число людей: <span id="amount_people"></span></h3>
    <h3 class="ramka">Квалификация: <span id="qualification"></span></h3>
    </p>
</body>
</html>
